.container{
  display: flex;
  justify-content: center;
  padding: 30px;
}
.content{
  width: 100%;
  max-width: 1500px;
  background-color:white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  overflow-y: scroll;
}


.totalWrap{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  padding: 20px;
  padding-bottom: 50px;
}

.total{
  font-weight: bold;
}

.payButton{
  width: 140px;
  height: 40px;
}

.checkbox{
	display: flex;
	padding: 2px 0;
  font-size: 1.5em;
}

.checkbox:nth-child(1){
	margin-left: 8px;
}

.checkboxLabel{
  font-size: 16px;
}

.successWrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.successWrap h1{
  padding: 30px;
}
